.wrapper {
    position: relative; /* Fix */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.btn-group {
    margin-top: 50px;
    position: relative; /* Fix */
    height: 40px;
}

button.no-btn {
    background: white;
    color: #FF012D;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

